$background: #2a262a;
$darker: #f39576;
$mainColor: #ffe2af;
$cardColor: #15151b;
$titleColor: #f1805a;
$boxShadow: rgba(0,0,0,0.75);

body
{
    background-color: $background;
    font-family: 'Noto Sans', sans-serif;
}

img
{
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.card 
{
    transition: 0.3s;
    width: 40%;
    background-color: $cardColor;
    text-align: center;
    border-radius: 12.5%;
    padding: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    box-shadow: 0px 0px 10px 5px $boxShadow;
}

.card:hover 
{
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: lighten($cardColor, $amount: 5);
}

.container 
{
    margin-top: 0;
    padding: 2px 16px;
}

.darker
{
    color: $darker;
}

.info
{
    color: $mainColor;
    text-align: left;
    margin-left: 20%;
    font-size: 1.2rem;
    margin-top: 0;
    padding: 0.25em;
    padding-top: 0;
}

.name
{
    color: $titleColor;
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
    margin-top: 0.75rem;
    padding: 1rem;
}

//Largest on the top

@media only screen and (max-width: 1000px) {
    .card
    {
        width: 55%;
    }
    img
    {
        width: 70%;
    }
}


@media only screen and (max-width: 540px) {
    .card
    {
        width: 100%;
    }
}

